<div class="form__cell">
  <div class="checkbox">
    <input type="checkbox" name="spree_user[receive_emails_agree]" id="register-subscribe">
    <label for="register-subscribe"><%= Spree.t('spree_klaviyo.subscribe_to_our_newsletter') %></label>
  </div>
</div>
